@import "mixins";

@media (max-width: 770px) {
  .item-image {
    width: 100px;
  }
  .pagination {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

@media (max-width: 490px) {
  .item {
    margin: 10px 20px;
  }
  .pagination-list * {
    @include mediamix (4px, 14px, 43.37px);
  }
}

@media (max-width: 350px) {
  .pagination-list * {
    @include mediamix (4px, 12px, 30.023px);
  }
  .content-body {
    font-size: 14px;
  }
}

@media (max-width: 295px) {
  .pagination-list * {
    @include mediamix (1px, 12px, 23.022px);
    padding: 1px;
    font-size: 12px;
    width: 24.022px;
  }
  .content-body {
    font-size: 10px;
  }
}

