.content {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #1F1F23;

  &-header {
    color: white;
  }

  &-body {
    max-width: 400px;
    word-wrap: break-word;
    font-size: 18px;
    text-align: justify;
    color: #c7c7c7;
  }
}

.header-per_page_select {
  border: 1px solid #6d6d6d;
  border-radius: 15px;
  text-align-last: center;
  text-align: center;
  background-color: white;
  color: black;
  padding: 3px;
}

.item {
  display: flex;
  align-items: center;
  margin: 10px 0;
  border: 1px solid wheat;

  &-image {
    width: 60px;
    border-right: 0.1px solid #9d9d9e;
  }

  &-description {
    padding: 5px 10px ;
  }
}


.pagination {
  display: flex;

  &-list {
    color: white;
    display: flex;
  }

  &-chose_page {
    display: flex;
    
    &-max {
    margin: 3px;
    font-size: 16px;
    color: white;
    display: flex;
    align-items: center;
    text-align: center;
    }

    &-input {
      min-width: 80px;
    }
  }

  &-list *, &-chose_page-confirm_button, &-chose_page-input {
    background: black;
    margin: 3px;
    padding: 10px;
    cursor: pointer;
    font-size: 20px;
    border-radius: 15px;
    border: 1px solid #d6d6d6;
    color: white;
  }

  .selected {
    color: black;
    background-color: white;
    border: 1px solid #b1b1b1;
  }
  

  &-chose_page-input {
    border-radius: 30px;
    width: 60px;
    text-align: center;
  }
}

